
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    height: 88px;
}

.logo img {
    width: 100px;
    height: auto;
    border-radius: 4px;
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 500px;
    margin: 0 20px;
}
.search-bar i{
    padding: 16px 0 16px 16px;
    color: #141414;
    border-radius: 4px 0px 0px 4px;
    background-color: rgb(255, 255, 255);
    
}
.search-bar input {
    height: 48px;
    width: 90%;
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0px;
    
}

.search-bar button {
    padding: 8px 16px;
    border: none;
    background-color: #555;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color:rgb(37, 73, 110);
}
.login button{
    padding: 16px;
    border-radius: 4px;
}
.notifications button,
.login button > a {
    background: none;
    border: none;
    color: #141414;
    font-size: 18px;
    cursor: pointer;
    padding: 16px;

}

.notifications button:hover,
.login button:hover {
    color:rgb(37, 73, 110);
    opacity: 0.5;
}